



.menu{
    transition: background-color 1s ease-in-out 10ms;
    font-size: 24px;
    padding: 5px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    
}
.menu:hover{
    background-color: red;
    text-decoration: underline;
}
.con{
    align-items: flex-end;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.pro{
    justify-content: center !important;
}
.about{
    font-size: 22px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    align-items: flex-start;
}
.log{
    width: 100%;
    text-align: center;
}
